In [3]:
import numpy as np
import pandas as pd
from Bio.Seq import Seq
import math
from Bio.SeqUtils import GC

In [21]:
my_seq=Seq(input("Your sequence"))

Your sequence atgctgtctgtctgtctggggttccccttg

In [193]:
df = pd.read_csv("pages/Files/Scerevisiae_codon.txt", header=None, delim_whitespace=True)
df1=df.iloc[:, : 5]
df2=df.iloc[:, 5:10]
df3=df.iloc[:, 10:15]
df4=df.iloc[:, 15:]
df2.columns = df1.columns
df3.columns = df1.columns
df4.columns = df1.columns
df_combined = pd.concat([df1, df2, df3,df4], axis=0, ignore_index=True)
df=df_combined.iloc[:, : 3]
df = df[df[2] >= 0.1]
AA_sum=[]
for i in df[1].unique():
    AA_sum.append(df.loc[df[1] == i, 2].sum())
test=df[1].unique()
sumlist=test.tolist()
data= {'AA':sumlist,'sum':AA_sum}
df2=pd.DataFrame(data) 
df.columns = ['Codon', 'AA', 'perc']
df=df.reset_index(drop=True, inplace=False)
df=pd.merge(df, df2) 
df['real_value']=df['perc']/df['sum']
dfs = dict(tuple(df.groupby('AA')))
AA_F = dfs['F']
AA_F=AA_F.sort_values('real_value', ascending=False)
AA_F=AA_F.reset_index(drop=True, inplace=False)
AA_L = dfs['L']
AA_L=AA_L.sort_values('real_value', ascending=False)
AA_L=AA_L.reset_index(drop=True, inplace=False)
AA_I = dfs['I']
AA_I=AA_I.sort_values('real_value', ascending=False)
AA_I=AA_I.reset_index(drop=True, inplace=False)
AA_M = dfs['M']
AA_M=AA_M.sort_values('real_value', ascending=False)
AA_M=AA_M.reset_index(drop=True, inplace=False)
AA_V = dfs['V']
AA_V=AA_V.sort_values('real_value', ascending=False)
AA_V=AA_V.reset_index(drop=True, inplace=False)
AA_Y = dfs['Y']
AA_Y=AA_Y.sort_values('real_value', ascending=False)
AA_Y=AA_Y.reset_index(drop=True, inplace=False)
AA_P = dfs['P']
AA_P=AA_P.sort_values('real_value', ascending=False)
AA_P=AA_P.reset_index(drop=True, inplace=False)
AA_T = dfs['T']
AA_T=AA_T.sort_values('real_value', ascending=False)
AA_T=AA_T.reset_index(drop=True, inplace=False)
AA_A = dfs['A']
AA_A=AA_A.sort_values('real_value', ascending=False)
AA_A=AA_A.reset_index(drop=True, inplace=False)
AA_AS = dfs['*']
AA_AS=AA_AS.sort_values('real_value', ascending=False)
AA_AS=AA_AS.reset_index(drop=True, inplace=False)
AA_H = dfs['H']
AA_H=AA_H.sort_values('real_value', ascending=False)
AA_H=AA_H.reset_index(drop=True, inplace=False)
AA_Q = dfs['Q']
AA_Q=AA_Q.sort_values('real_value', ascending=False)
AA_Q=AA_Q.reset_index(drop=True, inplace=False)
AA_N = dfs['N']
AA_N=AA_N.sort_values('real_value', ascending=False)
AA_N=AA_N.reset_index(drop=True, inplace=False)
AA_K = dfs['K']
AA_K=AA_K.sort_values('real_value', ascending=False)
AA_K=AA_K.reset_index(drop=True, inplace=False)
AA_D = dfs['D']
AA_D=AA_D.sort_values('real_value', ascending=False)
AA_D=AA_D.reset_index(drop=True, inplace=False)
AA_E = dfs['E']
AA_E=AA_E.sort_values('real_value', ascending=False)
AA_E=AA_E.reset_index(drop=True, inplace=False)
AA_C = dfs['C']
AA_C=AA_C.sort_values('real_value', ascending=False)
AA_C=AA_C.reset_index(drop=True, inplace=False)
AA_W = dfs['W']
AA_W=AA_W.sort_values('real_value', ascending=False)
AA_W=AA_W.reset_index(drop=True, inplace=False)
AA_R = dfs['R']
AA_R=AA_R.sort_values('real_value', ascending=False)
AA_R=AA_R.reset_index(drop=True, inplace=False)
AA_S = dfs['S']
AA_S=AA_S.sort_values('real_value', ascending=False)
AA_S=AA_S.reset_index(drop=True, inplace=False)
AA_G = dfs['G']
AA_G=AA_G.sort_values('real_value', ascending=False)
AA_G=AA_G.reset_index(drop=True, inplace=False)
# df.head(60)

In [194]:
my_seq_AA=my_seq.translate()
my_seq_AA

Seq('MLSVCLGFPL')

In [199]:
Codon_opt_seq=Seq('')
for i in my_seq_AA:
    if i=='M':
        x=np.random.random(1)[0]
        if x<=AA_M.real_value[0]:
            Codon_opt_seq+=Seq('AUG')
        else:
            pass
    elif i=='A':
        x=np.random.random(1)[0]
        if x<=AA_A.real_value[0]:
            Codon_opt_seq+=Seq('GCU')
        elif x>=AA_A.real_value[0] and x<=(AA_A.real_value[0]+AA_A.real_value[1]):
            Codon_opt_seq+=Seq('GCA')
        elif x>=AA_A.real_value[0] and x<=(AA_A.real_value[0]+AA_A.real_value[1]):
            Codon_opt_seq+=Seq('GCA')
        else:
            pass    
    else:
        pass
Codon_opt_seq

Seq('GCU')

In [166]:
x=np.random.random(1)[0]
print(x)

0.7413945875114809

In [202]:
AA_A

  Codon AA  perc  sum  real_value
0   GCU  A  0.38  1.0        0.38
1   GCA  A  0.29  1.0        0.29
2   GCC  A  0.22  1.0        0.22
3   GCG  A  0.11  1.0        0.11

   Codon AA  perc  sum  real_value
10   AUG  M   1.0  1.0         1.0